@import url("https://fonts.googleapis.com/css?family=Athiti:300,400,500,600,700");

.root {
  width: 100%;
  height: 260px;

  background-color: #dfbac9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
}

.left {
  width: 380px;
  height: 100%;
}

.name {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  height: 100%;
  margin-left: 380px;

  text-align: center;
  span {
    padding-right: 20px;
    padding-bottom: 10px;

    color: white;

    font-family: "Athiti", sans-serif;
    font-size: 65px;
    font-weight: 300;
  }
}
